force-app/main/default/flows/Create_Case_on_Risk_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Case_Owner_to_Admin</name>
        <label>Set Case Owner to Admin</label>
        <locationX>50</locationX>
        <locationY>602</locationY>
        <assignmentItems>
            <assignToReference>TargetCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Admin_User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Values_for_Target_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Case_Owner_to_Running_User</name>
        <label>Set Case Owner to Running User</label>
        <locationX>314</locationX>
        <locationY>386</locationY>
        <assignmentItems>
            <assignToReference>TargetCase.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Values_for_Target_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Values_for_Target_Case</name>
        <label>Set Values for Target Case</label>
        <locationX>182</locationX>
        <locationY>794</locationY>
        <assignmentItems>
            <assignToReference>TargetCase.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetCase.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewCaseSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetCase.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_New_Case</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Account_Owner_Running_User</name>
        <label>Is Account Owner Running User?</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>Set_Case_Owner_to_Running_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AccountOwner_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Referenced_Account.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_System_Admin_Profile</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Case on Risk Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case on Risk Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Case</name>
        <label>Create New Case</label>
        <locationX>182</locationX>
        <locationY>902</locationY>
        <inputReference>TargetCase</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Admin_User</name>
        <label>Get Admin User</label>
        <locationX>50</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Case_Owner_to_Admin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_System_Admin_Profile.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Referenced_Account</name>
        <label>Get Referenced Account</label>
        <locationX>182</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Account_Owner_Running_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_System_Admin_Profile</name>
        <label>Get System Admin Profile</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Admin_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Referenced_Account</targetReference>
        </connector>
        <object>RiskValueChange__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>NewCaseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>High Risk Status</stringValue>
        </value>
    </variables>
    <variables>
        <name>TargetCase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
