force-app/main/default/flows/RiskValueChanged.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Set_Current_Risk_Value_to_Variable</name>
        <label>Set Current Risk Value to Variable</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>TargetRiskValueChangeEvent.RiskValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Risk__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>TargetRiskValueChangeEvent.AccountId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Platform_Event</targetReference>
        </connector>
    </assignments>
    <description>A flow to fire off a platform event when an Account&apos;s Risk is changed</description>
    <environments>Default</environments>
    <interviewLabel>Risk Value Changed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Risk Value Changed</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_Platform_Event</name>
        <label>Insert Platform Event</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputReference>TargetRiskValueChangeEvent</inputReference>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Set_Current_Risk_Value_to_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Risk__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>High</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>TargetRiskValueChangeEvent</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RiskValueChange__e</objectType>
    </variables>
</Flow>
